@font-face {
  font-family: "CherryBombOne";
  src:
    url("/fonts/CherryBombOne-Regular.woff2") format("woff2"),
    url("/fonts/CherryBombOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src:
    url("/fonts/Nunito-Regular.woff2") format("woff2"),
    url("/fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src:
    url("/fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("/fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
    color-scheme: light dark;

    /*Font-family*/
    --font-family-heading: "CherryBombOne", system-ui, sans-serif;
    --font-family-text: "Nunito", system-ui, sans-serif;

    /*Fonts*/
    --font-size-100: 1em;
    --font-size-200: 1.125em;
    --font-size-300: 1.25em;
    --font-size-400: 1.5em;
    --font-size-500: 3em;

    /*Font-weight*/
    --font-weight-button: 600;
    --font-weight-body: 400;

    /*Line-height*/
    --line-height-xl: 1.6;
    --line-height-m: 1.4;

    /*Border-radius*/
    --border-radius-xl: 4.3em;
    --border-radius-m: 2em;
    --border-radius-s: 1.25em;

    /*Colors*/
    --green-hue: 172;
    --green-sat: 15%;

    --blue-hue: 212;
    --blue-sat: 52%;

    --purple-hue: 277;
    --purple-sat: 19%;

    --neutral-hue: 0;
    --neutral-sat: 0%;

    /*Green*/
    --green-900: hsl(var(--green-hue), var(--green-sat), 6%);
    --green-800: hsl(var(--green-hue), var(--green-sat), 12%);
    --green-700: hsl(var(--green-hue), var(--green-sat), 22%);
    --green-600: hsl(var(--green-hue), var(--green-sat), 32%);
    --green-500: hsl(var(--green-hue), var(--green-sat), 42%);
    --green-400: hsl(var(--green-hue), var(--green-sat), 52%);
    --green-300: hsl(var(--green-hue), var(--green-sat), 62%);
    --green-200: hsl(var(--green-hue), var(--green-sat), 72%);
    --green-100: hsl(var(--green-hue), var(--green-sat), 82%);

    /*Blue*/
    --blue-900: hsl(var(--blue-hue), var(--blue-sat), 6%);
    --blue-800: hsl(var(--blue-hue), var(--blue-sat), 16%);
    --blue-700: hsl(var(--blue-hue), var(--blue-sat), 26%);
    --blue-600: hsl(var(--blue-hue), var(--blue-sat), 36%);
    --blue-500: hsl(var(--blue-hue), var(--blue-sat), 46%);
    --blue-400: hsl(var(--blue-hue), var(--blue-sat), 56%);
    --blue-300: hsl(var(--blue-hue), var(--blue-sat), 66%);
    --blue-200: hsl(var(--blue-hue), var(--blue-sat), 76%);
    --blue-100: hsl(var(--blue-hue), var(--blue-sat), 86%);

    /*Purple*/
    --purple-900: hsl(var(--purple-hue), var(--purple-sat), 11%);
    --purple-800: hsl(var(--purple-hue), var(--purple-sat), 21%);
    --purple-700: hsl(var(--purple-hue), var(--purple-sat), 31%);
    --purple-600: hsl(var(--purple-hue), var(--purple-sat), 41%);
    --purple-500: hsl(var(--purple-hue), var(--purple-sat), 52%);
    --purple-400: hsl(var(--purple-hue), var(--purple-sat), 62%);
    --purple-300: hsl(var(--purple-hue), var(--purple-sat), 72%);
    --purple-200: hsl(var(--purple-hue), var(--purple-sat), 82%);

    /*Neutral*/
    --neutral-1000: hsl(var(--neutral-hue), var(--neutral-sat), 5%);
    --neutral-900: hsl(var(--neutral-hue), var(--neutral-sat), 10%);
    --neutral-800: hsl(var(--neutral-hue), var(--neutral-sat), 20%);
    --neutral-700: hsl(var(--neutral-hue), var(--neutral-sat), 30%);
    --neutral-600: hsl(var(--neutral-hue), var(--neutral-sat), 40%);
    --neutral-500: hsl(var(--neutral-hue), var(--neutral-sat), 50%);
    --neutral-400: hsl(var(--neutral-hue), var(--neutral-sat), 60%);
    --neutral-300: hsl(var(--neutral-hue), var(--neutral-sat), 70%);
    --neutral-200: hsl(var(--neutral-hue), var(--neutral-sat), 80%);
    --neutral-100: hsl(var(--neutral-hue), var(--neutral-sat), 90%);
    --neutral-50: hsl(var(--neutral-hue), var(--neutral-sat), 100%);

    /*Border*/
    --border: 1px solid;
    --border-color-1: var(--neutral-1000);
    --border-color-2: var(--purple-800);
    --border-color-3: var(--blue-700);


    --background-primary: var(--neutral-100);
    --background-secondary: var(--green-200);
    --card-background: var(--purple-600);
    --text-color: var(--neutral-100);
    --border-1: var(--border) var(--border-color-1);
    --border-2: var(--border) var(--border-color-2);
    --border-3: var(--border) var(--border-color-3);
    --button-primary-background: var(--blue-500);
    --button-primary-hover: var(--blue-700);

}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color-1: var(--neutral-100);
    --border-color-2: var(--purple-600);
    --border-color-3: var(--blue-600);

    --background-primary: var(--neutral-900);
    --background-secondary: var(--green-700);
    --card-background: var(--purple-700);
    --text-color: var(--neutral-1000);
    --border-1: var(--border) var(--border-color-1);
    --border-2: var(--border) var(--border-color-2);
    --border-3: var(--border) var(--border-color-3);
    --button-primary-background: var(--blue-300);
    --button-primary-hover: var(--blue-100);

  }
}